@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.body-login {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-login-content {
    width: 55%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.body-login-content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.body-login-content-form-titulo {
    font-family: 'Poppins';
    font-weight: 400;
}

.body-login-content-form-login {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    width: 62%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-login-content-form-login-button {
    font-family: 'Poppins';
    font-weight: 400;
    border-style: none;
    background: none;
}

.body-login-content-form-login-button-text {
    font-family: 'Poppins';
    font-size: 18px;
    border-style: none;
    background: none;
    transition: 0.1s;
}

.body-login-content-form-login-button-text:hover {
    color: rgb(114, 114, 114);
}

.body-login-content-image {
    background-color: rgb(31, 73, 122);
    width: 50%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
}

