@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.post-div {
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-top: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.post-div-content {
    width: 80%;
    display: flex;
    margin-bottom: 15px;
}

.post-div-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-div-header-sub {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}


.post-div-header-sub-username {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
}

.post-div-content-text {
    font-family: 'Poppins';
    font-size: 20px;
    margin-top: 5px;
}